.user_info {
   display: flex;
   align-items: center;
   gap: 1.2rem;

   &_name {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      gap: 0.4rem;
      a {
         cursor: pointer;
         @include fontInterTight(1.2rem, 1, -0.01em, 500, getColorBlack(1));

         &:hover {
            text-decoration: underline;
         }
      }
   }

   &_role {
      display: flex;
      align-items: center;
      gap: 0.8rem;

      h6 {
         @include fontInterTight(1rem, 1, -0.01em, 400, getColorBlack(0.5));
      }
   }
}

.expert {
   margin-bottom: auto;
   @include flexCenter();
   padding: 0.4rem 0.6rem;
   background-color: getColorAccent(0.1);
   border-radius: 1rem;
   @include fontInterTight(1rem, 1, -0.01em, 500, getColorAccent(1));
}

.dot {
   @include box(0.3rem);
   flex-shrink: 0;
   border-radius: 50%;
   background-color: getColorBlack(0.4);
   margin-top: 0.25rem;
}
