.list {
   display: flex;
   flex: 1 1 auto;
   flex-direction: column;
   width: 100%;
   min-width: 0;
   min-height: 0;
   gap: 1.6rem;
   overflow-y: auto;
   overflow-x: hidden;

   &::-webkit-scrollbar {
      width: 0.6rem;
   }

   &::-webkit-scrollbar-track {
      background: transparent;
   }

   &::-webkit-scrollbar-thumb {
      border-radius: 1rem;
      background: rgba(0, 0, 0, 0.15);
   }
}

.show_more {
   display: flex;
   align-items: center;
   gap: 0.4rem;
   height: 3.6rem;
   border: 0;
   border-radius: 1rem;
   color: #4791ff;
   background: transparent;
   cursor: pointer;
   @include fontInterTight(1.4rem, 2.4rem, -0.01em, 500);

   &:hover {
      text-decoration: underline;
   }

   &_icon {
      width: 2rem;
      height: 2rem;
      stroke: #4791ff;
      transform: rotate(270deg);
      @include transition((transform));
   }
}

@include screenMD {
   .list {
      gap: 0.8rem;
   }
}