.login {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   min-height: 100svh;
   padding: 2rem;
   background: #e7e7e7;

   &_card {
      width: 100%;
      max-width: 44.2rem;
      min-height: 50rem;
      overflow: hidden;
      background: #ffffff;
      border-radius: 3.2rem;
   }
}